{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2> Are u sure? "{{object.title}}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes delete!</button>
                <a class="btn btn-outline-secondary" type="ca" href="{% url 'post-detail' post.id %}">Nope, Go back</a>
            </div>
        </form>
    </div>
{% endblock content %}